<div class="show">
  <div class="show-content">
    <p class="show-title"><strong>Title:</strong> <span><%= @book.title %></span></p>
    
    <p class="show-body"><strong>Body:</strong> <span><%= @book.body %></span></p>
  </div>
  
  <div class="show-link">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <span>|</span>
    <%= link_to "back", books_path %>
  </div>
</div>