// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table td {
  padding: 5px;
}



.show {
  font-size: 13px;
}

.show-content {
  margin: 35px 60px;
}

.show-title {
  margin-bottom: 40px;
}

.show-link {
  margin-left: 25px;
}